@import './base.scss';

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

#root {
  font-size: .75rem;
}

h1 {
  color: $topicColor;
  font-size: 2rem;
  font-weight: 200;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
